body {
  background: #f5f5f5;
}
a:active {
  -webkit-tap-highlight-color: transparent;
}
.head1 {
  width: 100%;
}
.head_rev {
  width: 100%;
  height: 3.2rem;
  background: #ed6460;
}
.head_rev .logo {
  float: left;
  width: 8.8rem;
  height: 1.36rem;
  font-size: 0;
  background: url(../image/logo.png) no-repeat left top;
  background-size: 8.8rem 1.36rem;
  margin-left: 1.04rem;
  margin-top: 0.96rem;
}
.head_rev .download {
  float: left;
  width: 4.4rem;
  height: 2rem;
  border: 0.08rem solid #ffffff;
  border-radius: 0.4rem;
  font-size: 0.96rem;
  color: #fff;
  text-align: center;
  line-height: 1.84rem;
  margin-left: 0.8rem;
  margin-top: 0.56rem;
}
.head_rev .f_right {
  float: right;
  height: 3.2rem;
}
.head_rev .f_right .f_f1 {
  float: left;
  width: 2.24rem;
  height: 3.2rem;
  background: url(../image/search1.png) no-repeat left 0.96rem;
  background-size: 1.12rem 1.12rem;
  font-size: 0.96rem;
  color: #fff;
  padding-left: 1.44rem;
  line-height: 2.88rem;
}
.head_rev .f_right .f_f2 {
  float: left;
  width: 0.08rem;
  height: 1.6rem;
  background: #fff;
  margin-top: 0.8rem;
  margin-left: 0.32rem;
  margin-right: 0.4rem;
}
.head_rev .f_right .f_f3 {
  float: left;
  width: 2.24rem;
  height: 3.2rem;
  background: url(../image/user.png) no-repeat center center;
  background-size: 0.88rem 1.28rem;
  margin-right: 0.8rem;
}
.head1 .menu {
  width: 100%;
  height: 4.96rem;
  background: #fff;
  padding: 0.4rem 0;
}
.head1 .menu li {
  float: left;
  width: 8rem;
  height: 2.56rem;
  font-size: 1.12rem;
}
.head1 .menu li a {
  width: 4.8rem;
  height: 1.92rem;
  line-height: 1.92rem;
  display: block;
  text-align: center;
  margin: 0.32rem auto;
  color: #333;
}
.head1 .menu li .menu-f1 {
  background: #ed6460;
  border-radius: 0.24rem;
  color: #fff;
}
.head1 .menu li .menu-f8 {
  width: 5.6rem;
  background: url(../image/cz.png) no-repeat left 0.24rem;
  background-size: 1.28rem 1.28rem;
}
